/* Общие стили для всей страницы */
.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Обеспечивает, что высота страницы будет всегда 100% */
}

/* Стили для хедера */
header {
    position: sticky;
    top: 0; /* Хедер будет "прилипать" к верхней части */
    width: 100%;
    z-index: 1000;
    background-color: white;

    /* Белый фон для хедера */
}

/* Стили для основного контента */
.main-content {
    padding: 20px;
    padding-top: 200px; /* Добавляем отступ сверху, чтобы контент не прятался под хедером */
    flex-grow: 1; /* Контент растягивается на все доступное пространство */
    margin-bottom: 80px; /* Отступ снизу, чтобы не перекрывать футер */
}

/* Стили для футера */
footer {
     /* Фиксируем футер внизу */
    bottom: 0; /* Устанавливаем футер у нижней границы */
    width: 100%; /* Ширина футера на весь экран */
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px 0;
}
